<!DOCTYPE html>
<html>
<head>
	<% include ../partials/header.ejs %>
</head>
<body>
	<% include ../partials/nav.ejs %>
  
	<div class="container">
    <div id="profilebox" style="margin-top:0px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
      <div class="panel panel-info">
          <div class="panel-heading">
              <div class="panel-title">Edit Profile</div>
          </div>  
          <div class="panel-body" >
              <form id="profileform" class="form-horizontal" role="form">
                  
                  <div id="profilealert" style="display:none" class="alert alert-danger">
                      <p>Error:</p>
                      <span></span>
                  </div>
                   
                  <div class="form-group">
                      <label for="firstName" class="col-md-3 control-label">First Name</label>
                      <div class="col-md-9">
                          <input type="text" class="form-control" name="firstName" placeholder= <%- data[0].fname%> >


                      </div>
                  </div>
                  
                  <div class="form-group">
                      <label for="lastName" class="col-md-3 control-label">Last Name</label>
                      <div class="col-md-9">
                          <input type="text" class="form-control" name="lastName" placeholder= <%- data[0].lname%> >
                      </div>
                  </div>

                  <div class="form-group">
                      <label for="birthday" class="col-md-3 control-label">Birthday</label>
                      <div class="col-md-9">
                          <input type="date" class="form-control" name="bday" placeholder=<%- data[0].birthday%> >
                      </div>
                  </div>

                  <div class="form-group">
                      <label for="phone" class="col-md-3 control-label">Phone number</label>
                      <div class="col-md-9">
                          <input type="text" class="form-control" name="phone" placeholder=<%- data[0].phone%>>
                      </div>
                  </div>
				          
                   <div class="form-group">
                      <label for="gender" class="col-md-3 control-label">Gender
                      </label>

                      <div class="col-md-9 dropdown">
                        <select class="form-control" id="gender">
                           <option> <%- data[0].gender%> </option>
                           <option>Male</option>
                           <option>Female</option>
                        </select>
                     </div>
                   </div>
                
                  <div class="form-group">
                      <label for="address" class="col-md-3 control-label">Address</label>
                      <div class="col-md-9">
                          <input type="text" class="form-control" name="street" placeholder=<%- data[0].street%>>
                      </div>
                  </div>

                  <div class="form-group">
                      <label for="city" class="col-md-3 control-label">City</label>

                      <div class="col-md-3 dropdown">
                        <select class="form-control" id="city">
                          <option> <%- data[0].city%> </option>
                          <option>Santa Clara</option>
                          <option>San jose</option>
                        </select>
                      </div>
                  </div>
                      

                  <div class="form-group">
                      <label for="state" class="col-md-3 control-label">State</label>

                      <div class="col-md-3 dropdown">
                        <select class="form-control" id="state">
                          <option> <%- data[0].state%> </option>
                          <option>California</option>
                          <option>Oregon</option>
                        </select>
                      </div>
                  </div>

                   <div class="form-group">
                      <label for="zipcode" class="col-md-3 control-label">Zipcode</label>
                      <div class="col-md-9">
                          <input type="text" class="zipcode" name="zipcode" 
                          placeholder=<%- data[0].zip_code%> pattern="\d*">
                      </div>
                  </div>




                  <div class="form-group">
                        <label for="description" class="col-md-3 control-label">Description</label>
                        <div class="col-md-9">
                            <textarea class="form-control" rows="3" name="description"
                                      placeholder="Description"></textarea>
                        </div>
                  </div>

                  <div class="form-group">
                        <label for="image" class="col-md-3 control-label">Upload Image</label>

                        <div class="col-md-6">
                            <input type="text" class="form-control" name="image" placeholder="Upload Image">
                        </div>
                        <!-- Button -->
                        <div class="col-md-3">
                            <button id="btn-image" type="button" class="btn btn-info"><i class="icon-hand-right"></i>
                                &nbsp Choose
                            </button>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="video" class="col-md-3 control-label">Upload video</label>

                        <div class="col-md-6">
                            <input type="text" class="form-control" name="video" placeholder="Upload video">
                        </div>
                        <!-- Button -->
                        <div class="col-md-3">
                            <button id="btn-video" type="button" class="btn btn-info"><i class="icon-hand-right"></i>
                                &nbsp Choose
                            </button>
                        </div>
                    </div>


                 
                    <div class="form-group">
                       <label for="favorite" class="col-md-3 control-label">My Favorite</label>
                       <table class="table table-striped" style= "margin-left:-20px; ">
                         <thead>
                           <tr>
                            <th class="col-lg-1">Date</th>
                            <th class="col-lg-1">Category</th>
                            <th class="col-lg-8">Title</th>
                           </tr>
                         </thead>

                         <tbody>           
                           <% for(var i = 0; i < data.length; i++) { 
                                 if(data[i].time != undefined) {
                                    var str = data[i].time.toString();
                                    var date = str.substring(4,10);
                                 
                           %>   
                            <tr>
                               <td ><%= date %></td>
                               <td ><a href=""><%= data[i].category_id %></a></td>
                               <td ><a href=""><%= data[i].title %></a></td>
                            </tr>
                             <% } %>
                           <% } %>
                         </tbody>
                       </table>  
                    </div>

                    <div class="form-group">
                      <!-- Button -->                                        
                      <div class="col-md-offset-3 col-md-9">
                          <button id="btnUpdate" type="button" class="btn btn-info"><i class="icon-hand-right"></i> &nbsp Update </button> 
                      </div>
                    </div>                            
              </form>
          </div>
      </div>
		</div> 
	</div>

	<% include ../partials/footer.ejs %>
</body>
</html>

<script type="text/javascript">

        
$(document).ready(function() {
  $('#err_msg_close').click(function(){
    $('#err_msg_block').addClass('hidden');
  });

  $('#btnUpdate').on('click', function () {
    var bday = $('input[name=bday]').val();
    var phone = $('input[name=phone]').val();
    var street = $('input[name=street]').val();
    var zip_code = $('input[name=zipcode]').val();
    var firstName = $('input[name=firstName]').val();
    var lastName = $('input[name=lastName]').val();
    var gender = $( "#gender option:selected" ).text();
    var city = $( "#city option:selected" ).text();
    var state = $( "#state option:selected" ).text();

    var data = {
      fname : firstName,
      lname: lastName,
      birthday: bday,
      phone: phone,
      street: street,
      city: city,
      state: state,
      zip_code: zip_code,
      gender: gender,

    }

    $.post('/updateProfile', data, function (res) {
      $('#err_msg_block').addClass('hidden');
      if (res.result) {
        alert("Your profile is updated!");
        window.location.href = '/';
      } else {
        $('#err_msg').empty().append(res.msg).parents('#err_msg_block').removeClass('hidden');
      }
    })
  })
});
</script>