<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>
  <% include ../partials/nav.ejs %>
  <div class="container"  >   
    <!-- row 2  tab-->
    <div class="row" >
        <!-- tab -->
        <div class="col-lg-12" style="margin-top:15px; margin-left:10px;">
            <ul class="nav nav-tabs nav-justified">
                <li class="active"><a data-toggle="tab" href="#user">Users</a></li>
                <li><a data-toggle="tab" href="#service">Services</a></li>
                <li><a data-toggle="tab" href="#request">Requests</a></li>
            </ul>
            <div class="tab-content">
                <!-- tab for Users -->
                <div id="user" class="tab-pane fade in active">
                  <table class="table table-striped" style="margin-bottom: 0px;">
                        <thead>
                          <tr>
                              <div class="col-lg-8">
                                  <th >First Name</th>
                                  <th >Last Name</th>
                                  <th >Email</th>
                                  <th >Gender</th>
                                  <th >Birthday</th>
                                  <th >Phone</th>
                                  <th >Street</th>
                                  <th >City</th>
                                  <th >State</th>
                                  <th >Zip Code</th>
                              </div>             
                          </tr>
                        </thead>  
                        <tbody>
                          <% for(var i = 0; i < userData.length; i++) { %>
                              <tr>
                                <td ><%= userData[i].fname %></td>
                                <td ><%= userData[i].lname %></td>
                                <td ><%= userData[i].email %></td>
                                <td ><%= userData[i].gender %></td>
                                <td ><%= userData[i].birthday %></td>
                                <td ><%= userData[i].phone %></td>
                                <td ><%= userData[i].street  %></td>
                                <td ><%= userData[i].city  %></td>
                                <td ><%= userData[i].state  %></td>
                                <td ><%= userData[i].zip_code %></td>
                                <td class="text-right">
                                    <button type="button" uid="<%= userData[i].user_id%>" class="btn sm editUser"> Edit</button>
                                </td>
                                <td >
                                    <button type="button" uid="<%= userData[i].user_id%>" class="btn sm removeUser"> Delete</button>
                                </td>
                              </tr>
                          <% } %>
                        </tbody>
                  </table>
                </div> <!-- end of tab drink-->

                <div id="service" class="tab-pane fade">
                    <table class="table table-striped">
                      <thead>
                        <tr>
                          <th>title</th>
                          <th>description</th>
                          <th>city</th>
                          <th>user_id</th>
                          <th>time</th>
                          <th>category_id</th>
                        </tr>
                      </thead>
                      <tbody>
                      <% for( var i = 0; i < servData.length; i++ ) { %>
                        <tr>
                          <td ><%= servData[i].title %></td>
                          <td ><%= servData[i].description %></td>
                          <td ><%= servData[i].city %></td>
                          <td ><%= servData[i].user_id  %></td>
                          <td ><%= servData[i].time  %></td>
                          <td ><%= servData[i].category_id  %></td>
                          <td class="text-right">
                            <button type="button" sid="<%= servData[i].service_id%>" class="btn sm editService"> Edit</button>
                          </td>
                          <td >
                            <button type="button" sid="<%= servData[i].service_id%>" class="btn sm removeService"> Delete</button>
                          </td>
                        </tr>
                      <% } %>
                      </tbody>
                    </table>
                </div>

                <div id="request" class="tab-pane fade">
                    que. Vivamus nibh urna.
                </div>
            </div>
        </div>  <!-- end of left side of menu tab -->

    </div> <!-- end of row 2 -->

  </div> <!-- end container -->  



</body>
  <% include ../partials/footer.ejs %>
</html>

<script type="text/javascript">
;jQuery(function ($) {
  $('.editUser').on('click', function () {
    window.location.href = '/edituser/' + $(this).attr('uid');
  })
  $('.removeUser').on('click', function () {
    if (confirm('Are you sure you want to delete this user?')) {
      //alert($(this).attr('uid'));
      $.post('/removeuser', {user_id: $(this).attr('uid')}, function (res) {
        if (res.result) {
          alert(res.msg);
          window.location.reload();
        } else {
          alert(res.msg);
        }
      });
    } else {
      // Do nothing
    }
  });
});

</script>