<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>
  <% include ../partials/nav.ejs %>
  <div class="container"  >   
    <!-- row 2  big background pic-->
    <div class="row row-index" >
      <div class="col-lg-12">
          <div class="thumbnail">
          <img src="images/sharing.jpg">
      </div>
    </div>

    <!-- row 3  side navbar with service and request list-->
    <div class= "row" name="ServiceRequest">

      <aside class="col-lg-2" style="border-right: 1px solid #E4E4E4;margin-left:1em;">  <!-- side navbar -->
        </br>
        <ul class="side-navbar nav nav-pills nav-stacked" >
          <li class="active" style="font-weight: bold;"><a href="serviceList">Services </a></li>
        </br>
          <li style="font-weight: bold;"><a href="requestList">Requests </a></li>          
        </ul> 
      </aside>

      <article class="col-lg-9" style= "margin-left:1em;">
        <div class="row " name = "location" >
              <br>
              <!-- TODO -->
              <!--  Location from the index page -->
          <h3>San Francisco</h4> </br>
        </div>

        <div class="row" name="listResult" style="background-color:#fcfdfb;font-size:15px;">
                        <!-- TODO -->
              <!--  Query Service List-->

          <!-- mock data 1-->
          <div class= "row" >
              <div class="col-lg-1">
                <p>Apr 26</p>
              </div>
              <div class="col-lg-1">
                <p>Computer</p>
              </div>
              <div class="col-lg-9" style= "margin-left:1em;">
                <a href="" >Professional eCommerce Android App Design and Development, Professional eCommerce Android App Design and Development</a>
              </div>
          </div>

          <!-- mock data 2-->
          <div class= "row" >
              <div class="col-lg-1">
                <p>Apr 26</p>
              </div>
              <div class="col-lg-1">
                <p>Finacial</p>
              </div>
              <div class="col-lg-9" style= "margin-left:1em;">
                <a href="" >Angel Investor needed for innovative product</a>
              </div>
          </div>

          <!-- mock data 3-->
          <div class= "row" >
              <div class="col-lg-1">
                <p>Apr 26</p>
              </div>
              <div class="col-lg-1">
                <p>Automotive</p>
              </div>
              <div class="col-lg-9" style= "margin-left:1em;">
                <a href="" >Toyota Master Technician</a>
              </div>
          </div>
        </div>
      </article>
    </div> <!--end of row3 -->

    <!-- row 4  button to post service and request-->
    <div class= "row text-center" name ="create" style="background-color:#f4f8ee;margin-left:1em;margin-right:1em;">
      </br>
      <h3> Share services in our growing community </h3>
      </br>

      <a href="/"><button type="button" class="btn lggreen" style="margin-bottom:1em;margin-right:0.6em;">Create Service</button></a>
      <a href="/"><button type="button" class="btn lggreen" style="margin-bottom:1em;margin-left:0.6em;">Create Request</button></a>

    </div> <!--end of row4-->
  </div> <!-- end container -->  


  <% include ../partials/footer.ejs %>
</body>

</html>

