<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>
  <% include ../partials/nav.ejs %>
  <div class="container"  >   
    <!-- row 2  big background pic-->
    <div class="row" >
      <div class="jumbotron sharing-bg-img" >
      <div class="row">
        </br></br></br></br></br>
        <div class="col-xs-8 col-sm-8">
        </div>
        <div class="col-xs-4 col-sm-2 col-sm-offset-8">
          <a href="/service_create"><button id="createService" type="button" class="btn green-Sign">Create Service</button></a>
        </div>
        <div class="col-xs-4 col-sm-1">
          <a href="/request_create"><button type="button" style="margin-right: 0px;" class="btn green-Sign">Create Request</button></a>
        </div>
      </div>

      </div>
    </div>

    <!-- row 4  side navbar with service and request list-->
    <div class= "row" style="margin-top: 50px;" name="ServiceRequest">

      <aside class="col-lg-2" style="border-right: 1px solid #E4E4E4;margin-left:20px;">  <!-- side navbar -->
        <!-- TODO -->
        </br>
        <ul class="side-navbar nav nav-pills nav-stacked" >
          <li class="active" style="font-weight: bold;"> <a href="/serviceList" id="serviceList">Services </a></li>
          </br>
          <li style="font-weight: bold;"><a href="/requestList" id="requestList">Requests </a></li>          
        </ul> 
      </aside>

      <div class="container col-lg-9" style= "margin-left:20px; margin-top: -40px">
        <div id="location" class="row " name = "location" >
              <br>
              <!-- TODO -->
              <!--  Location from the index page -->
          <h3>San Francisco</h4> </br>
        </div>

         <!--  Query Service List-->
        <table class="table table-striped" style= "margin-left:-20px; ">
            <thead>
              <tr>
                <th class="col-lg-1">Date</th>
                <th class="col-lg-1">Category</th>
                <th class="col-lg-8">Title</th>
              </tr>
            </thead>

            <tbody>           
           <% for(var i = 0; i < data.length; i++) { 
              var str = data[i].time.toString();
              var date = str.substring(4,10);
           %>   
              <tr>
                <td ><%= date %></td>
                <td ><a href=""><%= data[i].category_name %></a></td>
                <td ><a href="/serReqDetail/<%= data[i].service_id %>"><%= data[i].title %></a></td>
              </tr>
            <% } %>
            </tbody>
        </table>
      </div>
    </div> <!--end of row4 -->


  </div> <!-- end container -->  



</body>
  <% include ../partials/footer.ejs %>
</html>

<script type="text/javascript">


</script>