<!DOCTYPE html>
<html>
<head>
    <% include ../partials/header.ejs %>
</head>
<body>
<div class="container">
    <div id="create_box" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="panel-title">Create Service</div>
            </div>
            <div class="panel-body">
                <form id="createForm" class="form-horizontal" role="form">

                    <div id="createAlert" style="display:none" class="alert alert-danger">
                        <p>Error:</p>
                        <span></span>
                    </div>

                    <div class="form-group">
                        <label for="title" class="col-md-3 control-label">Title</label>

                        <div class="col-md-9">
                            <input type="text" class="form-control" name="title" placeholder="Title">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="catagory" class="col-md-3 control-label">Catagory</label>

                        <div class="col-md-3 dropdown">
                            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                Tutoring
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                <li><a href="#">Tutoring</a></li>
                                <li><a href="#">Computer</a></li>
                                <li><a href="#">Automotive</a></li>
                                <li><a href="#">Financial</a></li>
                                <li><a href="#">Household</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="description" class="col-md-3 control-label">Description</label>

                        <div class="col-md-9">
                            <textarea class="form-control" rows="4" name="description"
                                      placeholder="Description"></textarea>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="city" class="col-md-3 control-label">City</label>

                        <div class="col-md-3 dropdown">
                            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                Santa Clara
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                <li><a href="#">Santa Clara</a></li>
                                <li><a href="#">San Jose</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="state" class="col-md-3 control-label">State</label>

                        <div class="col-md-3 dropdown">
                            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                California
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                <li><a href="#">California</a></li>
                                <li><a href="#">Washington</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="image" class="col-md-3 control-label">Choose Image</label>

                        <div class="col-md-6">
                            <input type="text" class="form-control" name="image" placeholder="Choose Image">
                        </div>
                        <!-- Button -->
                        <div class="col-md-3">
                            <button id="btn-image" type="button" class="btn btn-info"><i class="icon-hand-right"></i>
                                &nbsp Choose
                            </button>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="video" class="col-md-3 control-label">Choose video</label>

                        <div class="col-md-6">
                            <input type="text" class="form-control" name="video" placeholder="Choose video">
                        </div>
                        <!-- Button -->
                        <div class="col-md-3">
                            <button id="btn-video" type="button" class="btn btn-info"><i class="icon-hand-right"></i>
                                &nbsp Choose
                            </button>
                        </div>
                    </div>

                    <div class="form-group">
                        <!-- Button -->
                        <div class="col-md-offset-3 col-md-9">
                            <button id="btn-create" type="button" class="btn btn-info"><i class="icon-hand-right"></i>
                                &nbsp Create
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


</body>
<% include ../partials/footer.ejs %>
</html>