html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

button.green-Sign {
    background-color: #1abc9c;  
    box-shadow: inset 0 1px 0 0 #48b9c7;
	color: #fff;
	border:2px solid #1abc9c;
	text-shadow: 1px 1px 1px #000;
	
	font-size:16px;
	margin-top: 25px;
	margin-right: 30px;
	margin-left: -20px;

	padding: 5px 16px;
	min-width: 85px;
}

button.green {
    background-color: #1abc9c;  
    box-shadow: inset 0 1px 0 0 #48b9c7;
	color: #fff;
	border:2px solid #1abc9c;
	text-shadow: 1px 1px 1px #000;	
	font-size:17px;
	padding: 5px 5px;
	min-width: 90px;
}

button.lggreen {
    background-color: #1abc9c;  
    box-shadow: inset 0 1px 0 0 #48b9c7;
    color: #fff;
    border:2px solid #1abc9c;
    text-shadow: 1px 1px 1px #000;  
    font-size:18px;
    padding: 5px 5px;
    min-width: 160px;
}

.jumbotron {
    position: relative;
    width: 100%;
    height: 100%;
    background-size: cover;
    overflow: hidden;
    background-color: transparent;
    margin-bottom: -50px;
}

.navbar {
   background-color: transparent;
   background: transparent;
   border-color: transparent;
   margin-bottom: 0px;
}

.bg-img {
    background-image:url('../images/bg.jpg');
    background-repeat:repeat-x;
    background-size: 100%;
}

.footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 60px;
    text-align:center;
    margin-top:150px;
    background-color:transparent;
    font-size:14px;
}
